html {
  scroll-behavior: smooth;
}

body {
  background-image: url('main_background.jpg');
  background-repeat: no-repeat;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

header {
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  height:100px;
  top:0px;
  left:0px;
  z-index:10;
}

#logo-link { 
  padding-top: 30px;
  padding-left: 20px;
  color: rgba(77,77,77,1);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size: 24px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  padding-top:20px;
}

/* li {
  display: inline-block;
  position: relative;
} */

.header_menu {
  display: inline-flex;
}

#logo { 
  grid-area: header; 
  font-size: x-large;
}

#main-menu { grid-area: menu; }
/* .item3 { grid-area: main; } */
/* .item4 { grid-area: right; } */
/* .item5 { grid-area: footer; } */

.menu-item {
  display: inline;
  padding: 25px;
  text-decoration: none;
  color: rgba(77,77,77,1);
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.4em;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
}



a:visited {
  color:inherit;
  text-decoration:none;
}

a:link{
  color:inherit;
  text-decoration:none;
}

a:hover {
    color: orange;
}

#middle-text {
  padding-top: 322px;
  padding-left: 55px;
  color: rgba(255,255,255,0.85);
  text-transform: uppercase;
  letter-spacing: 1.2em;
  font-size: 62px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header menu';
}

#about{
  position:absolute;
  top:1000px;
  height:400px;
  width:100%;
  background:#f1f1f1;
  scroll-margin-top: 100px;
}

#packages{
  position:absolute;
  top:2000px;
  height:100px;
  width:100%;
  background:#f1f1f1;
  scroll-margin-top: 100px;
}

