body {
  background-image: url('main_background.jpg');
  background-repeat: no-repeat;
  font-family: 'Anton', serif;
}

header {
  background-color: black;
}

a:link {
  text-decoration: none;
  color: azure;
}

ul {
  list-style: none;
}

li {
  display: flex-inline;
  position: relative;
}

.header_menu {
  display: inline-flex;
}

.menu-item {
  display: inline-flex;
  padding: 15px;
  font-size: 25px;
}

#logo { 
  grid-area: header; 
  font-size: x-large;
}
#main-menu { grid-area: menu; }
/* .item3 { grid-area: main; } */
/* .item4 { grid-area: right; } */
/* .item5 { grid-area: footer; } */

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header menu';
}
