body {
  background-image: url('main_background.jpg');
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

li {
  display: flex-inline;
  position: relative;
}

.header_menu {
  display: inline-flex;
}

.menu-item {
  display: inline-flex;
}

.logo { grid-area: header; }
.main-menu { grid-area: menu; }
/* .item3 { grid-area: main; } */
/* .item4 { grid-area: right; } */
/* .item5 { grid-area: footer; } */

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header menu menu';
}
